SERVER_PORT=8080

REDIS_URL=localhost:6379
REDIS_PASSWORD=redis
REDIS_DB=0

MINIO_URL=localhost:9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio12345
MINIO_USE_SSL=false

RABBITMQ_URL=localhost:5672
RABBITMQ_USER=rabbit
RABBITMQ_PASSWORD=rabbit123
