# ======================
# Backend runtime config (docker network)
# ======================
REDIS_URL=redis:6379
REDIS_PASSWORD=redis

MINIO_URL=minio:9000
MINIO_ROOT_USER=imgpdf
MINIO_ROOT_PASSWORD=imgpdf12345

MINIO_USE_SSL=false

# ======================
# Frontend -> Backend
# ВАЖНО: из браузера нельзя ходить на "backend:8080".
# Браузеру нужен адрес хоста (localhost).
# ======================
VITE_API_BASE_URL=http://localhost:8080
