# MinIO credentials - change these in production!
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_SERVER_URL=http://localhost:9000

# Redis credentials
REDIS_PASSWORD=redis

# Vite dev settings
VITE_USE_POLLING=true
VITE_API_URL=http://localhost:8080

# RabbbitMQ credentials
RABBITMQ_USER=rmuser
RABBITMQ_PASS=change-me-strong
RABBITMQ_VHOST=app

# Backend service settings
REDIS_URL=redis:6379
MINIO_URL=nginx:9000